@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CookieRun";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "CookieRun";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff")
    format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "CookieRun";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Black00.woff")
    format("woff");
  font-weight: 900;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

.cookieRunFont {
  font-family: "CookieRun", sans-serif;
  font-weight: 700;
}

html,
body,
#root {
  font-family:
    "Pretendard",
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    sans-serif;
  font-weight: 400;
  width: 100%;
  height: 100%;
}
