@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.cookieRunFont {
  font-family: "CookieRun", sans-serif;
  font-weight: 700;
}

html,
body,
#root {
  font-weight: 400;
  width: 100%;
  height: 100%;
}

@layer base {
  * {
    @apply font-sans;
  }
}

@layer components {
  .input-style {
    @apply w-full rounded-lg border px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-300;
  }
}
